<!DOCTYPE html>
<html>
<head>
        <title>Academic Recommendations</title>
</head>
<body>
    <h1>Academic Recommendations</h1>
    {% if recommendations %}
        {%for recommendation in recommendations %}
            <div>
                <p>{{recommendation}}</p>
                <a href="/mentorship">
                    <button>View Mentorship Groups</button>
                </a>
            </div>
        {% endfor %}
    {% else%}
        <p>Great job! No academic support is needed for the moment.</p>
    {% endif %}
</body>
</html>
