<!DOCTYPE>
<html>
<head>
    <title>Academic Performance</title>
</head>
<body>
    <h1>Academic Performance</h1>
    <p><b>Student:</b> {{ student[1] }} (ID: {{ student[0] }})</p>
    <table border="1" cellpadding="10">
        <tr>
            <th>Subject</th>
            <th>Score</th>
            <th>Status</th>
        </tr>
       {% for subject, score in grades.items() %}
            <tr>
                <td>{{ subject }}</td>
                <td>{{ score }}</td>
                <td>
                    {% if score < 60 %}Needs Improvement
                    {% elif score < 75 %}Good
                    {% else %}Excellent
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </table>
  
    <br>
    <a href="/student/{{ student[0] }}">
        <button>Back to profil</button>
    </a>
    <a href="/connected_students">
        <button>Back to connected students</button>
    </a>
</body>
</html>
